/*
  HTML5 Reset :: style.css
  ----------------------------------------------------------
  We have learned much from/been inspired by/taken code where offered from:
  Eric Meyer          :: http://meyerweb.com
  HTML5 Doctor        :: http://html5doctor.com
  and the HTML5 Boilerplate :: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  /*border: 1px solid;  CHANGE back TO ZERO*/
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
  In fact, it *will* cause problems with Google Maps' controls at small size.
  If this is the case for you, try uncommenting the following:
#map img {
    max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
  you'll have to restore the bullets within content,
  which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

/* top bar styles */
.top-bar {
  background: #111111;
  clear: both;
  color: #ffffff;
  overflow: hidden;
  padding: 0 0.5em;
  width: 100%; }
  .top-bar .top-bar__logo {
    float: left; }
    .top-bar .top-bar__logo p {
      margin-top: 1.429em; }
  .top-bar .top-bar__user-nav {
    margin-top: 1.071em;
    margin-right: 3%; }
    .top-bar .top-bar__user-nav .top-bar__user-name {
      margin-top: 0.357em; }
    .top-bar .top-bar__user-nav .top-bar__user-btn {
      background: #1dadf5;
      margin-left: 1em;
      padding: 0.357em; }

.top-bar__logo img, .top-bar__logo p,
.top-bar__user-name {
  /* make this into a mixin */
  display: block;
  float: left; }

nav.top-bar__user-nav,
.top-bar__user-btn {
  float: right; }

/* end topbar styles */
/* start sidebar styles */
.left-wrapper {
  float: left;
  width: 17%; }

.sidebar {
  background: #f8f8f8;
  border-right: 1px solid #c5c5c5;
  height: 100%;
  position: absolute;
  width: 17%; }
  .sidebar ul {
    list-style: none; }
    .sidebar ul a {
      border-bottom: 1px solid #c5c5c5;
      color: #333;
      display: block;
      font-size: 1.1em;
      font-weight: 300;
      padding: 0.6em;
      position: relative;
      text-decoration: none; }
      .sidebar ul a:hover {
        color: #2caff3; }
    .sidebar ul i {
      margin-right: 0.5em; }
  .sidebar .sidebar__inner-ul {
    border-bottom: 1px solid #c5c5c5; }
    .sidebar .sidebar__inner-ul a {
      border: none;
      font-size: 0.8em;
      padding-left: 1.5em; }
    .sidebar .sidebar__inner-ul a.active {
      font-weight: bold; }
  .sidebar .disabled {
    border-bottom: none;
    color: #dddddd; }

/* end sidebar styles */
/* start drop down styles */
.dropdown {
  background: #fafafa;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  outline: none;
  padding: 0.5em 0.9em;
  position: relative;
  width: 15.5em; }
  .dropdown:after {
    border-color: #333333 transparent;
    border-style: solid;
    border-width: 0.429em 0.429em 0 0.429em;
    content: "";
    height: 0;
    margin-top: -0.214em;
    position: absolute;
    right: 1.143em;
    top: 50%;
    width: 0; }
  .dropdown .dropdown__menu {
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: -1px;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -1px;
    transition: all 0.3s ease-out;
    top: 100%; }
    .dropdown .dropdown__menu a {
      display: block;
      color: #333333;
      padding: 0.357em 0.9em;
      text-decoration: none;
      transition: all 0.3s ease-out; }
    .dropdown .dropdown__menu li:hover a {
      background: #2caff3; }

.dropdown.disabled span {
  color: #959595; }

/* expanded */
.dropdown.active {
  background: #ffffff;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 999; }
  .dropdown.active:after {
    border-width: 0 0.429em 0.429em 0.429em; }
  .dropdown.active .dropdown__menu {
    opacity: 1;
    pointer-events: auto; }

/* end drop down styles */
/* start advanced search */
.advanced-search {
  background: #f8f8f8;
  border: 1px solid #c5c5c5;
  margin: 2% 3% 1% 1%; }
  .advanced-search h4 {
    font-weight: bold; }
  .advanced-search .advanced-search__select-row {
    padding: 0.5em 0; }
    .advanced-search .advanced-search__select-row .dropdown {
      margin-right: 0.4em; }
  .advanced-search .advanced-search__bottom {
    padding: 1em; }

.advanced-search__checkboxes {
  font-size: 0.95em;
  overflow: hidden; }
  .advanced-search__checkboxes .group-checkboxes {
    float: left;
    width: 16.5%; }
    .advanced-search__checkboxes .group-checkboxes input[type="checkbox"],
    .advanced-search__checkboxes .group-checkboxes label {
      display: inline-block;
      vertical-align: middle; }
  .advanced-search__checkboxes .group__checkbox {
    padding: 0.25em; }
  .advanced-search__checkboxes .advanced-search__checkbox {
    padding: 0.3em 0 0.3em 0.3em; }

.dropdown--user-options.dropdown li a {
  color: #2caff3; }
.dropdown--user-options.dropdown li:hover a {
  background: none; }
.dropdown--user-options.dropdown li .group__checkbox:hover {
  background: #2caff3; }
.dropdown--user-options.dropdown li .dd-checkboxes {
  max-height: 18em;
  overflow: scroll; }
.dropdown--user-options.dropdown li .dd-check-links {
  overflow: hidden; }
  .dropdown--user-options.dropdown li .dd-check-links a {
    float: left; }
.dropdown--user-options.dropdown li .dd-checkboxes__group {
  padding: 0.25em; }
  .dropdown--user-options.dropdown li .dd-checkboxes__group p {
    font-weight: bold;
    padding-left: 0.25em; }

.advanced-search__select-area,
.advanced-search__checkboxes {
  border-bottom: 1px solid #c5c5c5;
  padding: 1em; }

/* start tag styles */
.advanced-search__middle {
  clear: both;
  margin: 2% 3% 1% 1%; }

.advanced-search__categories {
  float: left; }
  .advanced-search__categories ul, .advanced-search__categories li, .advanced-search__categories a {
    float: left; }
  .advanced-search__categories li {
    margin-right: 1em; }
    .advanced-search__categories li:after {
      content: "\f067";
      font-family: FontAwesome; }
    .advanced-search__categories li:last-child {
      margin-right: 0; }
    .advanced-search__categories li:last-child:after {
      content: none; }
  .advanced-search__categories button {
    cursor: default;
    font-size: 0.95em;
    font-weight: 400;
    margin-right: 1em; }
  .advanced-search__categories i {
    cursor: pointer;
    margin-right: 0.7em; }
  .advanced-search__categories .red-link {
    margin-left: 0;
    padding: 0.7em 0; }

/* end tag styles */
body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px; }

.wrapper {
  clear: both;
  height: auto;
  overflow: hidden;
  position: relative; }

/* start main content styles */
.content {
  background: #fff;
  float: right;
  width: 82%; }

/* start pagination styles */
.advanced-search__pagination {
  float: right; }

.pagination {
  float: left;
  font-size: 0.85em;
  list-style: none; }

.pagination li {
  border-right: 1px solid #333;
  float: left;
  height: 1.5em;
  margin: 1em 0.5em;
  padding-right: 1em; }

.pagination li:last-child {
  border-right: 0;
  padding-right: 0; }

.pagination input {
  margin-top: -0.25em;
  padding: 0.2em 0.5em;
  width: 2em; }

.pagination a {
  color: #2caff3;
  text-decoration: none; }

.advanced-search__pagination .dropdown {
  font-size: 0.9em;
  margin: 0 0 0.5em 0.5em;
  padding: 0.75em 0.5em;
  width: 7em; }

/* end pagination styles */
/* start tabular data styles */
.advanced-search__results {
  font-size: 0.9em;
  margin: 2% 3% 1% 1%; }

.search-results {
  border: 1px solid #c5c5c5;
  border-bottom: none;
  display: table;
  width: 100%; }

.search-results-thead {
  display: table-header-group; }

.search-results-tbody {
  display: table-row-group; }

.search-results-tr {
  display: table-row; }

.search-results-th,
.search-results-td {
  display: table-cell; }

.search-results-thead,
.search-results__footer {
  background: #f4f4f4;
  border-bottom: 1px solid #c5c5c5; }

.search-results .search-results-th {
  border-bottom: 1px solid #c5c5c5;
  font-weight: bold;
  padding: 0.9em 0.5em;
  text-align: center; }

.search-results-th .search-results__checkbox {
  background: none; }

.search-results__row .search-results-td {
  border-bottom: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  padding: 1em 0.5em;
  text-align: center; }

.search-results__int-col,
.search-results__topics,
.search-results__comments {
  width: 8%; }

.search-results__row .search-results__last-comment {
  border-right: none; }

.search-results-tbody .search-results__row.checked-row {
  background: #ebf8fe; }

.search-results__row:nth-child(odd) {
  background: #fafafa; }

.search-results__username {
  text-align: left;
  width: 29.5%; }

.search-results__checkbox {
  text-align: left; }

.search-results__checkbox input[type="checkbox"],
.search-results__checkbox label,
.search-results__username a {
  display: inline-block;
  vertical-align: middle; }

.search-results__checkbox label {
  font-weight: bold; }

.search-results__username a {
  color: #000;
  text-decoration: none; }

a.search-results__user-icon {
  display: block;
  float: right;
  margin: 0.5em; }

.search-results__date,
.search-results__usergroup {
  width: 13.5%; }

.search-results__footer {
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  display: none;
  width: 100%; }

.search-results__dd,
.search-results__export {
  padding: 0.9em 0.5em; }

.search-results__dd,
.progess-bar {
  float: left; }

.search-results__footer .dropdown {
  padding: 0.75em 0.9em;
  width: 12em; }

.search-results__progess,
.search-results__export {
  float: right; }

.progess-bar {
  background: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  line-height: 2em;
  margin: 0.9em 0.5em 0.5em 0.5em;
  padding: 0.3em;
  text-align: center;
  width: 9em; }

/* end tabular data styles */
footer {
  margin: 0 3% 1% 1%;
  overflow: hidden; }

/* end main content styles */
/* reusable classes */
.text-bold {
  font-weight: bold; }

.btn.remove {
  background: #df735e;
  border: #cb5841;
  color: #ab4630;
  cursor: pointer;
  display: inline;
  padding: 0.2em 0.6em;
  text-shadow: 0 1px 0 #DD5D4C; }

/* make a button mixin */
.btn {
  border-radius: 3px;
  color: #fff;
  font-size: 0.9em;
  padding: 0.55em;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3); }

.btn--gradient {
  background: #f4f4f4;
  border: 1px solid #c5c5c5;
  color: #333;
  font-size: 0.95em;
  font-weight: bold;
  padding: 0.7em; }

.btn--green {
  background: #9ccb3d;
  border: 1px solid #78a81e; }

.btn--blue {
  background: #27bcf5;
  border: 1px solid #1697c5; }

.red-link {
  color: #d9604c;
  font-weight: 300;
  margin-left: 1em;
  text-decoration: none; }

.left-text-align {
  text-align: left; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.gradient-gray-bg {
  background-color: #f3f3f3;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#fff));
  background: -webkit-linear-gradient(top, #fff, #f3f3f3);
  background: -moz-linear-gradient(top, #fff, #f3f3f3);
  background: -ms-linear-gradient(top, #fff, #f3f3f3);
  background: -o-linear-gradient(top, #fff, #f3f3f3); }

.disabled {
  border-color: #dedede;
  color: #ddd;
  pointer-events: none; }

a.disabled {
  color: #ddd; }

.hide {
  display: none; }

.show {
  display: block; }

/* Responsive designs */
@media screen and (max-width: 1080px) {
  /* make checkbox groups easier to see */
  .advanced-search__checkboxes {
    text-align: center; }

  .advanced-search__checkboxes h4 {
    text-align: left; }

  .group-checkboxes {
    display: inline-block;
    float: none;
    font-size: 1em;
    padding-top: 1em;
    text-align: left;
    width: 24%;
    vertical-align: top; }

  /* remove floats & center pagination & tags  */
  .advanced-search__pagination,
  .advanced-search__categories {
    clear: both;
    float: none;
    margin: 0.5em auto;
    text-align: center;
    width: 100%; }

  .advanced-search__categories {
    border-bottom: 1px dotted #c5c5c5;
    margin-bottom: 0.8em;
    padding-bottom: 0.8em; }

  .categories-wrap,
  .pagination-wrap {
    display: inline-block;
    text-align: left; }

  /* change right margin from 3% to 1% */
  .advanced-search,
  nav.top-bar__user-nav,
  .advanced-search__results,
  .advanced-search__middle,
  footer {
    margin-right: 1%; } }
@media screen and (max-width: 930px) {
  /* center data results footer
     break to a new line & center
   */
  .search-results__dd,
  .search-results__progess {
    clear: both;
    float: none;
    margin: 0 auto;
    text-align: center; }

  .search-results__dd {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0; }

  .search-results__dd .dropdown {
    text-align: left; }

  .progess-bar,
  .search-results__export {
    display: inline-block;
    float: none;
    margin: 0; } }
@media screen and (max-width: 835px) {
  /* change sidebar to horizontal nav */
  .left-wrapper {
    float: none;
    width: 100%; }

  .sidebar {
    border-bottom: 1px solid #c5c5c5;
    position: relative;
    text-align: center;
    width: 100%; }

  .sidebar li {
    display: inline-block;
    text-align: left; }

  .sidebar ul li a {
    border-bottom: none; }

  .sidebar li ul {
    display: none; }

  /* change main content to full width */
  .content {
    width: 100%; } }
@media screen and (max-width: 685px) {
  /* hide disabled link */
  .sidebar ul li:last-child {
    display: none; }

  /* make group checkboxes more readable */
  .group-checkboxes {
    width: 32%; }

  /* make advanced drop downs more readable */
  .advanced-search__checkboxes h4,
  .advanced-search h4 {
    text-align: center; }

  .advanced-search__select-row {
    border-bottom: 1px dotted #c5c5c5;
    padding: 1em 0; }

  .btn.remove {
    display: inline-block;
    margin-right: 0.5em; }

  .select-row-wrap {
    display: inline-block;
    width: 90%;
    vertical-align: middle; }

  .advanced-search__select-row .dropdown {
    margin-bottom: 0.5em;
    margin-top: 0.5em; } }
@media screen and (max-width: 595px) {
  /* Change data table to mobile friendly */
  .search-results,
  .search-results-tbody,
  .search-results-tr,
  .search-results-td {
    display: block; }

  .search-results {
    border: none; }

  .search-results-thead {
    display: none; }

  .search-results__row .search-results__last-comment {
    border-right: 1px solid #c5c5c5; }

  .search-results-tr {
    border-left: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    margin: 1em 0; }

  .search-results__row .search-results-td {
    text-align: left;
    width: 100%; }

  .search-results-td:before {
    content: " " attr(data-label) ": ";
    font-size: 0.95em;
    font-weight: bold;
    padding-right: 1em; }

  .search-results__footer {
    border: 1px solid #c5c5c5; } }
