// font variables
$font-base-px: 14px !default;

// Color variables
$topbar-blue: #1dadf5;
$topbar-black: #111111;
$pale-gray-bg: #f8f8f8;
$gray-border: #c5c5c5;
$red-btn: #df735e;
$green-btn: #9ccb3d;
$blue-btn: #27bcf5;
$red-link: #d9604c;
$light-blue-bg: #ebf8fe;
$hover-blue: #2caff3;
$white: #ffffff;
$gradient-gray: #f3f3f3;
$light-gray: #dddddd;
$font-dark-gray: #333333;
$dropdown-bg-white: #fafafa;
$dropdown-disable-gray: #959595;
$table-bg-gray: #f4f4f4;

