/* start sidebar styles */

// wrapper so background color is 
// the height of the content
.left-wrapper {
  float: left;
  width: 17%;
}

.sidebar {
  background: $pale-gray-bg;
  border-right: 1px solid $gray-border;
  height: 100%;
  position: absolute;
  width: 17%;

  ul {
    list-style: none;
    a {
      border-bottom: 1px solid $gray-border;
      color: #333;
      display: block;
      font-size: 1.1em;
      font-weight: 300;
      padding: 0.6em;
      position: relative;
      text-decoration: none;
      &:hover {
        color: $hover-blue;
      }
    }

    i {
      margin-right: 0.5em;
    }
  }
  
  .sidebar__inner-ul {
    border-bottom: 1px solid $gray-border;
    a {
      border: none;
      font-size: 0.8em;
      padding-left: 1.5em;
    }
    a.active {
      font-weight: bold;
    }
  }

  .disabled {
    border-bottom: none;
    color: $light-gray;
  }
}

/* end sidebar styles */
