@import 'base';
@import 'reset';
@import 'header';
@import 'sidebar';
@import 'dropdown';
@import 'advanced-search';
@import 'category-tags';
@import 'pagination';
@import 'tabular-data';
@import 'results-footer';

// General layout
body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
}

.wrapper {
  clear: both;
  height: auto;
  overflow: hidden;
  position:relative;
}

/* start main content styles */
.content {
  background: #fff;
  float: right;
  width: 82%;
}

footer {
  margin: 0 3% 1% 1%;
  overflow: hidden;
}

/* end main content styles */

/* reusable classes */
.text-bold {
  font-weight: bold;
}

.btn.remove {
  background: #df735e;
  border: #cb5841;
  color: #ab4630;
  cursor: pointer;
  display: inline;
  padding: 0.2em 0.6em;
  text-shadow: 0 1px 0 #DD5D4C;
}

/* make a button mixin */

.btn {
  border-radius: 3px;
  color: #fff;
  font-size: 0.9em;
  padding: 0.55em;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
}

.btn--gradient {
  background: #f4f4f4;
  border: 1px solid #c5c5c5;
  color: #333;
  font-size: 0.95em;
  font-weight: bold;
  padding: 0.7em;
}

.btn--green {
  background: #9ccb3d; 
  border: 1px solid #78a81e;
}

.btn--blue {
  background: #27bcf5; 
  border: 1px solid #1697c5;
}

.red-link {
  color: #d9604c;
  font-weight: 300;
  margin-left: 1em;
  text-decoration: none;
}

.left-text-align {
  text-align: left;
}

.clearfix {
  zoom:1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.gradient-gray-bg {
  background-color: #f3f3f3;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#fff));
  background: -webkit-linear-gradient(top, #fff, #f3f3f3);
  background: -moz-linear-gradient(top, #fff, #f3f3f3);
  background: -ms-linear-gradient(top, #fff, #f3f3f3);
  background: -o-linear-gradient(top, #fff, #f3f3f3);
}

.disabled {
  border-color: #dedede;
  color: #ddd;
  pointer-events: none;
}

a.disabled {
  color: #ddd;
}

.hide {
  display: none;
}

.show {
  display: block;
}


/* Responsive designs */

@media screen and (max-width: 1080px) {
  /* make checkbox groups easier to see */
  .advanced-search__checkboxes {
    text-align: center;

    h4 {
      text-align: left;
    }

    .group-checkboxes {
      display: inline-block;
      float: none;
      font-size: 1em;
      padding-top: 1em;
      text-align: left;
      width: 24%;
      vertical-align: top;
    }
  }

  /* remove floats & center pagination & tags  */
  .advanced-search__pagination,
  .advanced-search__categories {
    clear: both;
    float: none;
    margin: 0.5em auto;
    text-align: center;
    width: 100%;
  }

  .advanced-search__categories {
    border-bottom: 1px dotted $gray-border;
    margin-bottom: 0.8em;
    padding-bottom: 0.8em;
  }

  .categories-wrap,
  .pagination-wrap {
    display: inline-block;
    text-align: left;
  }

  /* change right margin from 3% to 1% */
  .advanced-search,
  nav.top-bar__user-nav,
  .advanced-search__results,
  .advanced-search__middle,
  footer {
    margin-right: 1%;
  }

}

@media screen and (max-width: 930px) {
  /* center data results footer
     break to a new line & center
   */
  .search-results__dd,
  .search-results__progess {
    clear: both;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .search-results__dd {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    .dropdown {
      text-align: left;
    }
  }

  .progess-bar,
  .search-results__export {
    display: inline-block;
    float: none;
    margin: 0;
  }
}

@media screen and (max-width: 835px) {
  /* change sidebar to horizontal nav */
  .left-wrapper {
    float: none;
    width: 100%
  }

  .sidebar {
    border-bottom: 1px solid $gray-border;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .sidebar li {
    display: inline-block;
    text-align: left;
    a {
      border-bottom: none;
    }
    ul {
      display: none;
    }
  }

  /* change main content to full width */
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 685px) {
  /* hide disabled link */
  .sidebar ul li:last-child {
    display: none;
  }
  
  .advanced-search {
    /* make group checkboxes more readable */
    .group-checkboxes {
      width: 32%;
    }

    h4,
    .advanced-search__checkboxes h4 {
      text-align: center;
    }
  }

  /* make advanced drop downs more readable */
  .advanced-search__select-row {
    border-bottom: 1px dotted $gray-border;
    padding: 1em 0;
    .dropdown {
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
  }

  .btn.remove {
    display: inline-block;
    margin-right: 0.5em;
  }

  .select-row-wrap {
    width: 90%;
    vertical-align: middle;
  }  
}

@media screen and (max-width: 595px) {
  /* Change data table to mobile friendly */
  .search-results, /* table */
  .search-results-tbody,
  .search-results-tr,
  .search-results-td {
    display: block;
  }

  .search-results {
    border: none;
  }

  .search-results-thead {
    display: none;
  }

  .search-results__row {
    .search-results__last-comment {
      border-right: 1px solid $gray-border;
    }

    .search-results-td {
      text-align: left;
      width: 100%;
      &:before {
        content:' 'attr(data-label)': ';
        display: inline;
        font-size:0.95em;
        font-weight:bold;
        padding-right:1em;
      }
    }
  }

  .search-results-tr {
    border-left: 1px solid $gray-border;
    border-top: 1px solid $gray-border;
    margin: 1em 0;
  } 

  .search-results__footer {
    border: 1px solid $gray-border;
  }

  // change top menu to left
  .sidebar {
    text-align: left;
  }
}

@media screen and (max-width: 510px) {
  // move top nav user section below 
  // logo to make it mobile friendly
  .top-bar {
    .top-bar__logo {
      clear: both;
      display: block;
      float: none;
      overflow: hidden;
    }
    .top-bar__user-nav {
      clear: both;
      display: block;
      float: none;
      margin: 0 0 0.5em 0;
      overflow: hidden;
      .top-bar__user-btn {
        float: left;
        margin-left: 0.5em;
      }
    }
  }

  // change results footer to be
  // more mobile friendly
  .search-results__footer {
    .search-results__dd {
      clear: none;
      float: left;
      margin: 0 auto;
      width: 49%;
    }

    .search-results__progess {
      clear: none;
      float: right;
      width: 49%;
    }

    .dropdown, button {
      display: block;
      margin: 0 auto 0.5em auto;
    }
  }
}































